.event-image > img{
    max-width: 100%;
    border-radius: 50%;
}

p{
    margin: 0px;
}

.event-date{
    font-size: 20px;
    font-weight: bold;
}

.event-name{
    font-size: 15px;
    font-weight: bold;
}

.event-description{
    font-size: 15px;
    font-weight: normal;
    color: #A7A7A7;
}

.notice-date{
    color: #FF5722;
    text-align: right;
    font-size: 13px;
}

.notice-number{
    color: #FFFFFF;
    font-size: 9px;
    text-align: right;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

#notices .row{
    border-bottom: 1px solid #707070;
}

#notices{
    margin-left: 5%;
}

.event-info{
    padding-left: 5%;
}