@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.input {
  border-radius: 300px;
  border: none;
  background-color: #484848;
  width: 100%;
  height: 40px;
  padding: 1px 10px;
  margin-bottom: 10px;
}

.input:focus {
  background-color: #aaa;
  outline: none;
  padding-left: 10px !important;
  padding-right: 10px;
}

.input-dropdown {
  border-radius: 300px;
  border: none;
  background-color: #484848;
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding: 1px 10px;
  margin-bottom: 10px;
  border-color: #484848;
}
.input-dropdown:focus {
  background-color: #484848;
  color: #ffffff;
  outline: none;
  padding-left: 10px !important;
  padding-right: 10px;
  border-radius: 300px;
  border-color: #484848;
}

::placeholder {
  color: #a7a7a7 !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #a7a7a7 !important;
}

::-ms-input-placeholder {
  color: #a7a7a7 !important;
}

.image {
  max-width: 100%;
}
/* ---------------------------------------------------
    UTIL
----------------------------------------------------- */
.test {
  color: #f0f !important;
  background-color: #f0f !important;
  height: 300px !important;
}

.test2 {
  color: #0ff !important;
  background-color: #0ff !important;
  height: 100px;
}

.test3 {
  color: #ff0 !important;
  background-color: #ff0 !important;
  height: 100px;
}

.height-100 {
  height: 100px !important;
}

.height-500 {
  height: 400px !important;
}
.height-300 {
  height: 300px !important;
}

.cover-95 {
  object-fit: cover;
  height: 95px;
  width: 95px;
}

.cover-100-percent {
  object-fit: cover;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid #707070 !important;
}

.radius-100 {
  border-radius: 100%;
}

.background-dark-grey {
  background-color: #212121;
}

.background-light-grey {
  background-color: #484848;
}

.button-orange {
  border-radius: 300px;
  border: none;
  background-color: #ff5722;
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding: 1px 10px;
  margin-bottom: 10px;
}

.button-white {
  border-radius: 300px;
  border-width: 3px;
  border-color: #fff;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding: 1px 10px;
  margin-bottom: 10px;
}

.button-red {
  border-radius: 300px;
  border-width: 3px;
  border-color: #c41c00;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding: 1px 10px;
  margin-bottom: 10px;
}

.text-gray {
  color: #a7a7a7;
}

.text-white {
  color: #ffffff;
}

.text-orange {
  color: #ff5722;
}

.text-red {
  color: #c41c00;
}

.row-center {
  margin: auto auto;
  padding-left: 10px;
  padding-top: 9px;
}

.margin-bottom {
  margin-bottom: 15px !important;
}

.lable {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 2px;
}

.sfondo-grigio {
  /*da eliminare una volta che sostituita in cart */
  background-color: #212121;
}

.hidden {
  visibility: hidden;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  transition: all 0.3s;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.7);
}

#sidebar.active {
  left: 0;
}

.overlay {
  /*come si vede lo sfondo quando appare la side bar*/
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
  z-index: 998;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li a {
  padding: 10px 0px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  text-align: left;
}

#sidebar ul li a:hover {
  color: #fff;
  text-decoration: none;
}

#sidebar ul li a:active {
  color: #fff;
}

#sidebar ul li a:focus {
  color: #fff;
}

#content {
  position: absolute;
}

#sidebar ul {
  list-style-type: none;
  text-align: left;
  padding-left: 20px;
}

.separate {
  width: 60px;
  height: 10px;
  margin: 0px auto;
}
.circle {
  float: left;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: #fff;
  margin: 0px 5px;
}
/*--------------------------------------------------
    nav bar e sliedr menu
----------------------------------------------------*/
.manu-fix {
  background-color: rgba(0, 0, 0, 1);
}
.navbar {
  padding-left: 0px;
  padding-right: 0px;
}

.align-center {
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
}

#sidebarCollapse {
  color: #fff;
  border: none;
  background-color: #000;
  padding-left: 0px;
}

#sidebarCollapse:active {
  color: #fff;
  border: none;
  background-color: #000;
}

.logo-navbar {
  display: block;
  height: 20px;
}

#form-search {
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

#form-search input#search {
  float: left;
  padding-left: 40px;
}

#form-search .icon {
  position: absolute;
  top: -8px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.3);
}

.input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.3);
}

.input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.3);
}

.input#search:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.fixed-top {
  z-index: 990;
}

.contenuti {
  position: relative;
  top: 135px;
}

a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

/*--------------------------------------------------
    POST HOME
----------------------------------------------------*/

.text-post h2 {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 30px;
  color: #fff;
}

.text-post h4 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0px;
  font-size: 15px;
  color: #fff;
}

.text-post h3 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 0px;
  font-size: 20px;
  color: #fff;
}

.text-post h4 > span {
  color: #a7a7a7;
  margin-bottom: 0px;
}

.text-post h3 > span {
  color: #a7a7a7;
  font-weight: 500;
  text-transform: none;
  margin-bottom: 0px;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #707070;
}

.carousel-indicators li.active {
  background: #ff5722;
}

/*--------------------------------------------------
    NOTIFICATION
----------------------------------------------------*/

.noti-event-date {
  font-size: 20px;
  font-weight: bold;
}

.noti-event-name {
  font-size: 15px;
  font-weight: bold;
}

.noti-event-description {
  font-size: 15px;
  font-weight: normal;
  color: #a7a7a7;
}

.noti-notice-date {
  color: #ff5722;
  font-size: 12px;
  text-align: right;
}

.noti-notice-n {
  color: #ffffff;
  font-size: 9px;
  background-color: #ff5722;
  border-radius: 100%;
  text-align: right;
}

.noti {
  padding-top: 10px;
  padding: 10px;
}

.badge-notify {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #ff5722;
  float: right;
  margin-top: 7px;
  padding-top: 1px;
  text-align: center;
  font-size: 13px;
}

.reset {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}

.ora {
  text-align: right;
}

#notices a {
  color: inherit;
  text-decoration: inherit;
}

.panel-collapse > .panel-body > p {
  color: #a7a7a7;
}

.cloud {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #212121;
  /* margin-top: 5px; */
  /* padding: 10px; */
}

/*--------------------------------------------------
        CART
----------------------------------------------------*/
.cart {
  border-bottom: 1px solid #707070;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-cart {
  max-height: 100px;
}

.select-quantity-cart-left {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: #484848;
  border-width: 0;
  border-right: 1px solid #707070;
  border-style: solid;
  height: 35px;
  width: 30px;
}
.select-quantity-cart-center {
  background-color: #484848;
  max-width: 40px;
  min-width: 30px;
}

.select-quantity-cart-right {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: #484848;
  border-width: 0;
  border-left: 1px solid #707070;
  border-style: solid;
  height: 35px !important;
  width: 30px !important;
  font-size: 24px;
}

.minus {
  width: 11px;
  height: 3px;
  background: #fff;
  margin: 0 auto;
}

.font-size-red {
  font-size: 23px;
}

.delete-button-cart {
  width: 150px;
}

.quantity {
  width: 100%;
  height: 100%;
  background-color: #484848;
}

.quantity::placeholder {
  color: #ff5722 !important;
  opacity: 1; /* Firefox */
}

.quantity:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ff5722 !important;
}

.quantity::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ff5722 !important;
}

.header-second-row-pay {
  height: 100px;
}

/*--------------------------------------------------
        PAY
----------------------------------------------------*/

.arrow {
  font-size: 50px;
  position: relative;
  bottom: 27px;
}

.post > h2 {
  text-transform: uppercase;
}

.post > h4 {
  text-transform: uppercase;
}

.post > h3 {
  text-transform: uppercase;
}

.post > h4 > span {
  color: #a7a7a7;
}

.post > h3 > span {
  color: #a7a7a7;
  text-transform: none;
}

.text-vertical-center-son {
  display: table-cell;
  vertical-align: middle;
}

.text-vertical-center-father {
  display: table;
}

.image-pay {
  max-height: 100px;
  width: auto;
  margin: 0 auto;
}

.max-width-100 {
  max-width: 200px;
}

.border-bottom-son > div > div {
  border-bottom: 1px solid #707070;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*****************************************
*           createEvent                  *
*****************************************/
#createEvent .form-control,
#createEvent .form-control:focus {
  background-color: transparent;
  color: #ffffff;
  border-color: transparent;
  border: 0px;
  box-shadow: none;
}
#createEvent .form-control option,
#createEvent option:focus {
  background-color: #484848;
  border: 0px;
  box-shadow: none;
}

#createEvent .carousel-fixed img {
  height: auto;
  width: auto;
}
#createEvent #insert-image {
  display: none;
}

.inputImage button,
.inputImage label {
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
}

/* a div with .overlay-father inside the img and a div with overlay-text-centered */

.overlay-father {
  position: relative;
  text-align: center;
  color: white;
}
.overlay-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay-father .overlay-selected {
  filter: blur(2px);
  width: 100%;
  height: 100%;
  color: #ffffff;
}


.overlay-father .overlay-selected1 {
  border-color: #ff5722;
  border-style: solid;
  border-width: 5px;
}

.overlay-text {
  color: #ffffff;
  background-color: #484848;
  opacity: 0.3;
}

.overlay-text-centered {
  font-size: xx-large;
}

/*****************************************
*           costellazione                *
*****************************************/

@-webkit-keyframes wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wrapper {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#wrapper {
  -webkit-animation: wrapper 3s forwards;
  -moz-animation: wrapper 3s forwards;
  animation: wrapper 3s forwards;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

#main {
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
#main:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-right: 0;
  vertical-align: middle;
  width: 1px;
}

#background {
  background: transparent;
  bottom: 0;
  width: 100vw;
  left: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
/*************************************
*              NOT FOUND             *
**************************************/

#notFound .row {
  text-align: center;
}

#notFound h1 {
  font-size: 20px;
}
#notFound h2 {
  font-size: 100px;
}
#notFound h3 {
  font-size: 30px;
}
