@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow-y: scroll; 
    background: rgba(255, 0, 0, 0.7);

}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
}



#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#content {
    position: absolute;
} 

/*--------------------------------------------------
    AGGIUNIVO
----------------------------------------------------*/

.align-center{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

#sidebarCollapse{
    color: #fff;
    border: none;
    background-color: #000;
}

#sidebarCollapse:active{
    color: #fff;
    border: none;
    background-color: #000;
}

.input{
    border-radius: 300px;
    border:none;
    background-color: #484848;
    width: 100%;
    padding: 1px 10px;
}

input:focus{
        background-color: #fff;
        outline: none ;
        padding-left: 10px!important;
        padding-right: 10px;
}

#content > header{
    margin-bottom: 10px;
}


#form-search{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

#form-search input#search{
  float: left;
  padding-left: 40px;
}

#form-search .icon{
  position: absolute;
  top: -15px;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.3);

}

.input::-webkit-input-placeholder {
   color:rgba(255, 255, 255, 0.3);

}
 
.input:-moz-placeholder { /* Firefox 18- */
   color:rgba(255, 255, 255, 0.3);
  
}
 
.input::-moz-placeholder {  /* Firefox 19+ */
   color:rgba(255, 255, 255, 0.3);
  
}
 
.input#search:-ms-input-placeholder {  
   color:rgba(255, 255, 255, 0.3);
  
}