#potrebbe cambiare in base al vostro percorso, da me funziona(Naed)
ErrorDocument 404 http://localhost/uniticket/notFound.php

RewriteEngine On 
Options +FollowSymLinks
RewriteRule ^favicon.ico uniticket/img/favicon.png [L]